html {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
  width: 100%;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
}

main {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  padding: 25px;
  text-align: center;
  width: 15rem;
  padding: 1rem;
}
main img {
    max-width: 100%;
    border-radius: 25px;
}
p {
  font-size: 15px;
  font-weight: 400;
}

